<?xml version="1.0"?>
<launch>
  <include file="$(find tp_fanuc)/launch/load_lrmate200id4s_DHm.launch" />
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tp_fanuc)/rviz/ros-tools.rviz" required="true" />
</launch>
